body{
	font-family: Montserrat;
	font-style: normal;
}

.header{
	background-color: #F5B238;
	height: 100vh;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.nav{
	padding-top: 58px;
	display: flex;
}

header a{
	color: #000;
	text-decoration: none;
}

.logo{
	margin-right: 117px;
	margin-top: -6px;
	margin-left: -18px;
}

.menu{
	display: flex;
}

.menu li a{
	font-size: 15px;
	position: absolute;
	transition: all 0.8s;
}

.menu li{
	margin-right: 115px;
}

ul li{
	display: block;
	padding: 0;
	margin: 0;
	font-weight: 400;
}

.menu a:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	font-weight: 700;
	border-bottom: 1px solid #C29C2C;

}

.tel{
	font-size: 15px;
	margin-left: auto;
	padding-left: 12px;
	padding-top: 12px;
	font-weight: 700;
}

.cart{
	background-color: black;
	width: 41px;
	height: 41px;
	border-radius: 20px;
	display: flex;
	margin-left: 85px;
	margin-right: 40px;
}

.cart img{
	padding: 10px;
}

.cart p{
	margin-left: 12px;
	margin-top: 11px;
} 

.offer a{
	background: #F52557;
	color: #fff;
	height: 67px;
	width: 265px;
	border-radius: 110px;
	padding: 23px;
	font-weight: 700;
}

.offer p{
	margin-bottom: 50px;
}

.animals{
	display: inline-block;
    height: 497px;
    width: 810px;
    margin-top: -4px;
    margin-left: 448px;
}

.offer h1{
	margin-top: -400px;
}

.btn:hover{
	background: #ff0f47;
}

























































::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #14171a;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #969696;
    background: linear-gradient(to bottom, #969696, #2c2e34)
}